<div class="container">
  <div class="text-center mt-5">
    <h1 class="text-primary my-4">LE WAGON - BICODE</h1>
    <%= image_tag "logo.png", class:"my-5", width: '200px' %>
  </div>

  <div class="d-flex flex-column align-items-center">
    <h2 class="mb-4">Inscrivez-vous !</h2>
    <div class="dropdown text-center">
      <button class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Formulaire d'inscription <i class="fas fa-chevron-down"></i>
      </button>
      <div class="collapse mt-4 text-center <%= 'show' if @user.errors.any? %> " id="collapseExample">
        <%= simple_form_for @user do |f| %>
          <%= f.input :pseudo, label: 'Choisissez un pseudo', placeholder: 'BébèreDu33' %>
          <%= f.input :batch,
            collection: Batch.all,
            label: 'Choisissez votre batch dans la liste' %>
          <%= f.input :challenger_id, label: 'Indiquez votre Advent ID', placeholder: '1237086', hint: 'Dans Settings à côté de anonymous dans après vous être connecté.' %>

          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>


  <ul class="nav nav-tabs my-5" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h4 class='text-center mb-4'>Classement par batch</h4></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h4 class='text-center mb-4'>Classement individuel</h4></a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h4 class='text-center mb-4'>Classement par batch</h4>
      <% BatchScore.all.sort_by(&:score_total).reverse.each do |score| %>
        <p>#<%= score.batch %> - <%= score.score_total %>pts </p>
      <% end %>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h4 class='text-center mb-4'>Classement individuel</h4>
      <% IndividualScore.all.sort_by(&:score_total).reverse.each do |score| %>
        <p><%= score.username %> - <%= score.score_total %> pts </p>
      <% end %>
    </div>
  </div>
</div>
