<div class="container">
  <%= image_tag "logo.png", class:"mt-4", width: '200px' %>
  <h1 class="text-center my-3">BICODE 2020</h1>

  <div class="d-flex flex-column align-items-center">
    <%# <h2 class="mb-4"></h2> %>
    <div class="dropdown text-center">
      <button class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Inscris-toi ici <i class="fas fa-chevron-down"></i>
      </button>
      <div class="collapse mt-4 text-center <%= 'show' if @user.errors.any? %> " id="collapseExample">
        <%= simple_form_for @user do |f| %>
          <%= f.input :pseudo, label: false, placeholder: 'Pseudo de ton choix' %>
          <%= f.input :batch, label: false, collection: Batch.all, include_blank: 'Choisis le batch que tu représentes 💪' %>
          <%= f.input :challenger_id, label: false, placeholder: 'ID sur Advent Of Code (ex: 1237086)',
            hint: raw("Dans #{link_to('tes settings', 'https://adventofcode.com/2020/settings', target: :_blank)}, à côté de 'anonymous user #ton-id'") %>

          <%= f.button :submit, "C'est parti !", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>


  <ul class="nav nav-tabs my-5" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h4 class='text-center mb-4'>Classement par batch</h4></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h4 class='text-center mb-4'>Classement individuel</h4></a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h4 class='text-center mb-4'>Classement par batch</h4>
      <% Batch.all.each do |batch| %>
        <% if batch.batch_results.any? %>
          <p><%= batch.name %> - <%= batch.batch_results.map(&:score).sum %> pts </p>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h4 class='text-center mb-4'>Classement individuel</h4>
      <% User.all.each do |user| %>
        <p><%= user.pseudo %> - <%= user.results.map(&:score).sum %> pts </p>
      <% end %>
    </div>
  </div>
</div>
